
@{
    Layout = "~/Views/Shared/_PlaySchoolLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>GetSudentDetails</title>
</head>
<body>
    <div> 
        <h1>Welcome to School</h1>
    </div>
</body>
</html>
